In [1]:
import pandas as pd
df = pd.read_excel('ten-thousand.xlsx')

In [7]:
df.head()

  name gender  join-year  join-month department    job job-name        company
0  黄婷婷      女       2005          12         开发   平台开发   中级平台开发  雨林木风计算机信息有限公司
1  梁桂兰      女       2005           8         财务     会计     初级会计    数字100科技有限公司
2  刘秀云      男       2017           3         设计     插画     中级插画   惠派国际公司信息有限公司
3  王建军      女       2015           6         运维  服务器管理  特聘服务器管理     浙大万朋科技有限公司
4   刘璐      男       2013           3         管理   公司领导   特聘公司领导       时刻信息有限公司

In [16]:
# 查看每个公司的总员工人数
pd.pivot_table(df,index=['company'],values=['name'] , aggfunc='count')

               name
company
MBP软件传媒有限公司      30
MBP软件信息有限公司      18
MBP软件科技有限公司      25
MBP软件网络有限公司      36
七喜传媒有限公司         19
七喜信息有限公司         34
七喜科技有限公司         32
七喜网络有限公司         22
万迅电脑传媒有限公司       35
万迅电脑信息有限公司       22
万迅电脑科技有限公司       31
万迅电脑网络有限公司       28
东方峻景传媒有限公司       32
东方峻景信息有限公司       27
东方峻景科技有限公司       28
东方峻景网络有限公司       22
中建创业传媒有限公司       24
中建创业信息有限公司       38
中建创业科技有限公司       32
中建创业网络有限公司       38
九方传媒有限公司         35
九方信息有限公司         43
九方科技有限公司         25
九方网络有限公司         34
佳禾传媒有限公司         29
佳禾信息有限公司         27
佳禾科技有限公司         34
佳禾网络有限公司         28
信诚致远传媒有限公司       25
信诚致远信息有限公司       29
...             ...
通际名联科技有限公司       30
通际名联网络有限公司       33
鑫博腾飞传媒有限公司       30
鑫博腾飞信息有限公司       27
鑫博腾飞科技有限公司       35
鑫博腾飞网络有限公司       35
银嘉传媒有限公司         32
银嘉信息有限公司         22
银嘉科技有限公司         39
银嘉网络有限公司         25
雨林木风计算机传媒有限公司    42
雨林木风计算机信息有限公司    17
雨林木风计算机科技有限公司    35
雨林木风计算机网络有限公司    20
飞利信传媒有限公司        32
飞利信信息有限公司        39
飞利信科技有限公司        24
飞利信网络有限公司        34
飞海科技传媒有限公司       37
飞海科技信息有限公司       29
飞海科技科技有限公司       23
飞海科技网络有限公司       27
鸿睿思博传媒有限公司       37
鸿睿思博信息有限公司       34
鸿睿思博科技有限公司       27
鸿睿思博网络有限公司       32
黄石金承传媒有限公司       31
黄石金承信息有限公司       32
黄石金承科技有限公司       19
黄石金承网络有限公司       30

[324 rows x 1 columns]

In [21]:
# 查看每个公司的男女员工人数
pd.pivot_table(df,index=['company','gender'], values=['name'], aggfunc='count')

                    name
company     gender
MBP软件传媒有限公司 女         12
            男         18
MBP软件信息有限公司 女         11
            男          7
MBP软件科技有限公司 女         12
            男         13
MBP软件网络有限公司 女         22
            男         14
七喜传媒有限公司    女         12
            男          7
七喜信息有限公司    女         15
            男         19
七喜科技有限公司    女         16
            男         16
七喜网络有限公司    女         12
            男         10
万迅电脑传媒有限公司  女         17
            男         18
万迅电脑信息有限公司  女         12
            男         10
万迅电脑科技有限公司  女         15
            男         16
万迅电脑网络有限公司  女         11
            男         17
东方峻景传媒有限公司  女         16
            男         16
东方峻景信息有限公司  女         13
            男         14
东方峻景科技有限公司  女         13
            男         15
...                  ...
飞利信信息有限公司   女         19
            男         20
飞利信科技有限公司   女          9
            男         15
飞利信网络有限公司   女         15
            男         19
飞海科技传媒有限公司  女         19
            男         18
飞海科技信息有限公司  女         17
            男         12
飞海科技科技有限公司  女         12
            男         11
飞海科技网络有限公司  女         11
            男         16
鸿睿思博传媒有限公司  女         18
            男         19
鸿睿思博信息有限公司  女         18
            男         16
鸿睿思博科技有限公司  女         12
            男         15
鸿睿思博网络有限公司  女         18
            男         14
黄石金承传媒有限公司  女         16
            男         15
黄石金承信息有限公司  女         18
            男         14
黄石金承科技有限公司  女          7
            男         12
黄石金承网络有限公司  女         15
            男         15

[648 rows x 1 columns]

In [23]:
# 查看数据中每年的人数
pd.pivot_table(df,index=['join-year'], values=['name'], aggfunc='count')

           name
join-year
2001        555
2002        509
2003        507
2004        507
2005        523
2006        480
2007        526
2008        498
2009        547
2010        513
2011        538
2012        578
2013        511
2014        547
2015        519
2016        551
2017        543
2018        524
2019        524

In [24]:
# 查看数据中每年中每个月的总人数
pd.pivot_table(df,index=['join-year','join-month'], values=['name'], aggfunc='count')

                      name
join-year join-month
2001      1             54
          2             48
          3             48
          4             43
          5             45
          6             61
          7             46
          8             37
          9             41
          10            36
          11            43
          12            53
2002      1             50
          2             41
          3             36
          4             47
          5             41
          6             42
          7             51
          8             33
          9             30
          10            46
          11            40
          12            52
2003      1             34
          2             40
          3             44
          4             52
          5             34
          6             49
...                    ...
2017      7             42
          8             49
          9             42
          10            52
          11            47
          12            45
2018      1             41
          2             38
          3             57
          4             39
          5             50
          6             58
          7             38
          8             40
          9             41
          10            47
          11            43
          12            32
2019      1             51
          2             41
          3             58
          4             36
          5             47
          6             36
          7             40
          8             43
          9             34
          10            43
          11            46
          12            49

[228 rows x 1 columns]

In [26]:
# 查看数据中公司各部门人数
pd.pivot_table(df,index=['company','department'], values=['name'], aggfunc='count')

                        name
company     department
MBP软件传媒有限公司 开发             2
            测试             6
            管理             1
            设计             5
            财务             6
            运维             7
            运营             3
MBP软件信息有限公司 开发             1
            测试             2
            管理             4
            设计             4
            财务             2
            运维             2
            运营             3
MBP软件科技有限公司 开发             1
            测试             4
            管理             6
            设计             1
            财务             4
            运维             4
            运营             5
MBP软件网络有限公司 开发             6
            测试             4
            管理             5
            设计             7
            财务             4
            运维             6
            运营             4
七喜传媒有限公司    开发             3
            测试             2
...                      ...
鸿睿思博网络有限公司  财务             4
            运维             4
            运营             4
黄石金承传媒有限公司  开发             2
            测试             6
            管理             6
            设计             3
            财务             6
            运维             2
            运营             6
黄石金承信息有限公司  开发             6
            测试             1
            管理             3
            设计             5
            财务             5
            运维             3
            运营             9
黄石金承科技有限公司  开发             4
            管理             7
            设计             2
            财务             1
            运维             2
            运营             3
黄石金承网络有限公司  开发             4
            测试             3
            管理             3
            设计            10
            财务             4
            运维             3
            运营             3

[2237 rows x 1 columns]

In [8]:
# 查看数据中公司部门平均人数
department_person = pd.pivot_table(df,index=['company','department'], values=['name'], aggfunc='count')
pd.pivot_table(department_person, index=['company'], aggfunc='mean')

                   name
company
MBP软件传媒有限公司    4.285714
MBP软件信息有限公司    2.571429
MBP软件科技有限公司    3.571429
MBP软件网络有限公司    5.142857
七喜传媒有限公司       2.714286
七喜信息有限公司       4.857143
七喜科技有限公司       4.571429
七喜网络有限公司       3.142857
万迅电脑传媒有限公司     5.000000
万迅电脑信息有限公司     3.142857
万迅电脑科技有限公司     4.428571
万迅电脑网络有限公司     4.000000
东方峻景传媒有限公司     4.571429
东方峻景信息有限公司     3.857143
东方峻景科技有限公司     4.000000
东方峻景网络有限公司     3.142857
中建创业传媒有限公司     4.000000
中建创业信息有限公司     5.428571
中建创业科技有限公司     4.571429
中建创业网络有限公司     5.428571
九方传媒有限公司       5.000000
九方信息有限公司       6.142857
九方科技有限公司       3.571429
九方网络有限公司       4.857143
佳禾传媒有限公司       4.142857
佳禾信息有限公司       3.857143
佳禾科技有限公司       4.857143
佳禾网络有限公司       4.000000
信诚致远传媒有限公司     4.166667
信诚致远信息有限公司     4.142857
...                 ...
通际名联科技有限公司     4.285714
通际名联网络有限公司     4.714286
鑫博腾飞传媒有限公司     4.285714
鑫博腾飞信息有限公司     3.857143
鑫博腾飞科技有限公司     5.000000
鑫博腾飞网络有限公司     5.000000
银嘉传媒有限公司       4.571429
银嘉信息有限公司       3.142857
银嘉科技有限公司       5.571429
银嘉网络有限公司       3.571429
雨林木风计算机传媒有限公司  6.000000
雨林木风计算机信息有限公司  2.833333
雨林木风计算机科技有限公司  5.000000
雨林木风计算机网络有限公司  2.857143
飞利信传媒有限公司      4.571429
飞利信信息有限公司      5.571429
飞利信科技有限公司      3.428571
飞利信网络有限公司      4.857143
飞海科技传媒有限公司     5.285714
飞海科技信息有限公司     4.142857
飞海科技科技有限公司     3.285714
飞海科技网络有限公司     3.857143
鸿睿思博传媒有限公司     5.285714
鸿睿思博信息有限公司     4.857143
鸿睿思博科技有限公司     3.857143
鸿睿思博网络有限公司     4.571429
黄石金承传媒有限公司     4.428571
黄石金承信息有限公司     4.571429
黄石金承科技有限公司     3.166667
黄石金承网络有限公司     4.285714

[324 rows x 1 columns]